.form-graph-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.form-block .login-input {
    height: 48px;
    padding: 0 12px;
    line-height: 48px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    background: #fff;
    color: #2d4057;
    font-size: 16px;
    text-align: left;
}

.form-block .login-input:focus {
    border-color: #a341a1;
    outline: none;
    box-shadow: 0 0 6px rgba(163, 65, 161, 0.4);
}

.login-input:focus-within {
    border-color: #a341a1;
    outline: none;
    box-shadow: 0 0 6px rgba(163, 65, 161, 0.4);
}

.p-error {
    color: #ff0059;
    font-size: 14px;
    margin-top: 8px;
    display: block;
}

.error-block {
    margin-top: 10px;
}

.form-block:last-child {
    margin-bottom: 35px;
}

.p-password {
    all: unset !important;
    width: 100% !important;
    height: 100% !important;
}

.p-password [role="switch"] {
    outline: none !important;
}

.p-password [role="switch"]:focus {
    outline: none !important;
    box-shadow: none !important;
}

.p-password .p-input-icon {
    right: 16px !important;
    color: #a341a1;
    font-size: 20px;
}