.form-block .y-field {
    height: 48px;
    padding: 0 12px;
    line-height: 48px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    background: #fff;
    color: #2d4057;
    font-size: 16px;
    text-align: left;
}

.form-block .y-field:focus {
    border-color: #a341a1;
    outline: none;
    box-shadow: 0 0 6px rgba(163, 65, 161, 0.4);
}
