.form-cell {
    flex: 1;
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(83, 50, 165, 0.5);
    padding-top: 30px;
    padding-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-block {
    margin: min(6%, 20px) 6% min(6%, 20px);
}

form > .form-block > label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}
