.header {
    font-family: fantasy;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    margin-bottom: 20px;
}
