.form-graph-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.results-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(83, 50, 165, 0.5);
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.results-container form {
    display: flex;
    flex-direction: row ;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    margin: 15px 0;
    padding: 0;
}

.error-block {
    margin-top: 15px;
}

.p-message.p-message-error {
    background: #ffebee !important;
    border: 1px solid #ff0059 !important;
    color: #ff0059 !important;
    border-radius: 4px;
}

.header.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 15px 20px 15px 20px;
}

.username-display {
    font-size: 22px;
    font-weight: normal;
    color: #2d4057;
    white-space: normal;
    word-break: break-word;
    max-width: 80%;
    flex: 1;
    text-align: left;
}

.logout-button {
    width: auto !important;
    min-width: 100px;
}

@media (max-width: 812px) {
    .username-display {
        max-width: 90%;
    }
    .logout-button {
        width: auto !important;
        min-width: 70px;
    }
}
