.form-graph-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.results-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(83, 50, 165, 0.5);
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.results-container form {
    display: flex;
    flex-direction: row ;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    margin: 15px 0;
    padding: 0;
}
