.graph-cell {
    flex: 1;
    min-width: 200px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(83, 50, 165, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#graphCanvas {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    box-sizing: border-box;
}

